* {
  padding: 0%;
  margin: 0%;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to right top,
    #331fbb,
    #1c2199,
    #0d1f78,
    #0c1a56,
    #0e1435,
    #151834,
    #1a1c32,
    #1f2031,
    #30314f,
    #424470,
    #555792,
    #6a6ab5
  );
  overflow: hidden;
}
.container {
  width: 40em;
  height: 40em;
  position: relative;
  font-size: 6px;
}
img {
  height: 130%;
  width: 130%;
}
.sun {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 10em;
  height: 10em;
  top: 15em ;
  left: 15em;
  border-radius: 50%;
  box-shadow: 0 0 3em rgb(255,128,0);
  animation: orbit 50s linear infinite;
}

.planet{
    position: absolute;
    border-style:solid;
    border-color: white transparent transparent transparent;
    border-width: 0.3em 0.2em 0 0;
    border-radius: 50%;
}

.planet::before{
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: orbit 30s linear infinite;
}

.mercury::before{
    background-image: url(mercury.png);
    background-size: cover;
top: 1.5em ;
right: 0.8em ;
width: 2em ;
height: 2em;
}

.mercury{
    top: 12.5em;
    left: 12.5em;
    width: 15em;
    height: 15em;
    animation: orbit 68.7s linear infinite;
    background-size: cover;
}
.venus::before{
    top: 2em;
    right: 2em;
    width: 2em;
    height: 2em;
    background-image: url(venus.png);
    background-size: cover;
}

.venus{
    top: 10em;
    left: 10em;
    width: 20em;
    height: 20em;
    animation: orbit 48.7s linear infinite;
}

.earth::before{

top: 3em;
right: 0em;
width: 5em;
height: 5em;
background-image: url(earth.png);
background-size: cover;
}
.earth{
top: 6em;
left: 6em;
width: 28em;
height: 28em;
animation: orbit 36.5s linear infinite;
}
.moon::before{
top: 0.8em;
right: 0.2em;
width: 1.2em;
height: 1.2em;
background-image: url(moon.png);
background-size: cover;

}
.moon{
   top: 2em;
   right: -1em;
   width: 7em;
   height: 7em;
    animation: orbit 2.7s linear infinite;
}

.star{
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    z-index: -1;
}
.mars::before,jupiter::before,saturn::before,uranus::before,neptune::before,pluto::before{
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: orbit 50s linear infinite;
}
  

@keyframes orbit {
    to{
        transform: rotate(360deg);
    }

}
